{
    "discord-webhook-enable": true,
    "discord-webhook": "https://discord.com/api/webhooks/00000000000000000/XYZ",    
    "backups": {        
        "save-location": "/root/.localbackups",
        "max-local-backups": 2,
        "save-relative": false,
		"parent-paths": {
			"proxy": {
				"path": "/var/lib/pterodactyl/volumes/b7cf0eac-9190-4a82-ab52-33e4bc4d2c8f/",
				"ignore": [
					".*.zip", "logs/", "cache/", "plugins/CoreProtect/", "LuckPerms/translations/", "LuckPerms/libs/", "plugins/bStats/", "libraries/"
				]
			},
			"gyser": {
				"path": "/var/lib/pterodactyl/volumes/4a8ec69d-c4b4-4d72-b0f9-18fbe35cbc94/",
				"ignore": [
					".*.zip", "logs/", "cache/", "plugins/CoreProtect/", "LuckPerms/translations/", "LuckPerms/libs/", "plugins/bStats/", "libraries/"
				]
			}
		},
        "hetzner-sftp": {
            "enabled": false,
            "server-url": "u.your-storagebox.de",
            "username": "u",
            "password": "password",            
            "remote-dir": "/myremotebackups"
        },
        "database": {
            "mongodb": {
                "enabled": false,                
                "backup-uri": "mongodb://admin:PASSWORD@IP_ADDR:27017/?authSource=admin",                
                "NOTE-how_to_restore": "mongorestore --uri=mongodb://admin:PASSWORD@ip_addr:27017/?authSource=admin output_dir/"
            }
        }      
    }
}