{
    "discord-webhook-enable": true,
    "discord-webhook": "https://discord.com/api/webhooks/00000000000000000/XYZ",    
    "backups": {        
        "save-location": "/root/.backups",
        "max-local-backups": 2,
        "save-relative": false,
        "parent-paths": {
            "/root/servers/": [
                ".*.zip", "logs/", "cache/", ".*_OLD", ".*_TEMP-REMOVED/", ".*.jar-",
                "plugins/dynmap/", "LuckPerms/translations/", "LuckPerms/libs/", "plugins/bStats/", "libraries/"
            ],
            "/root/core/": [
                ".*node_modules/", ".git/"
            ],
            "/root/minecraft-panel/": [
                "akash/", "Docs/", "requirements/", "src/", ".git/"
            ],
            "/root/BOTS": [
                "node_modules/", ".git/", ".*.zip", "logs/", ".*__pycache__/"
            ]
        },
        "hetzner-sftp": {
            "enabled": false,
            "server-url": "u.your-storagebox.de",
            "username": "u",
            "password": "password",            
            "remote-dir": "/backups"
        },
        "database": {
            "mongodb": {
                "enabled": false,                
                "backup-uri": "mongodb://admin:PASSWORD@IP_ADDR:27017/?authSource=admin",                
                "NOTE-how_to_restore": "mongorestore --uri=mongodb://admin:PASSWORD@ip_addr:27017/?authSource=admin output_dir/"
            }
        }      
    }
}